
  .editar {
    background-image: url(https://icons.getbootstrap.com/assets/icons/pencil.svg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width:5em;
    height:5em;
    margin:0.2em;
    padding:5em;
  }

  .editar::-webkit-file-upload-button {
    visibility: hidden;
  }
