.posts{
  overflow-y: scroll;
}

::-webkit-scrollbar {display: none;}

.link{
  text-decoration: none;
  color: black;
  font-weight: bold !important;
}

@media screen and (orientation: landscape) {
  /* Aplica estilos solo cuando la pantalla está en modo horizontal */
  .posts { /* Establece el ancho máximo del div a 500px */
    max-width:500px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .post {
    max-width:300px;
    margin: 0 auto;
  }
}