<h1 class="text-center p-5">¿Con quién?</h1>
<div class="row wrap justify-content-center p-2">

  <div class="col-5 d-flex justify-content-center" *ngFor="let kitty of this.prruwner.kitties">
    <a class="mx-auto" routerLinkActive="active" [routerLink]="['/kittypost/create/picture-form/', kitty.kittyId]">
      <img class="rounded-circle" [src]="this.kitty.kittyPicture" width="130" height="130" alt="">
      <h5 class="kitty-name py-3 text-center">{{kitty.kittyName}}</h5>
    </a>
  </div>
</div>
