.card {
  text-align: center;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

.card-body {
  padding:0;
  background-color: transparent !important;
}

.card-title{
  margin: 0;
}

h4{
  font-weight: bold !important;
}

.row{
  margin: 0 !important;
}

.row>*{
  padding: 0.4em !important;
}

.kitties{
  overflow-x: scroll;
}

::-webkit-scrollbar {display: none;}

.kitty-name{
  font-size:1em;
}

.picture{
    height:4em;
    width:4em;
}

.posts{
  margin-bottom:100px !important;
  margin: 0 auto;
}
::-webkit-scrollbar {display: none;}

.post {
  max-width:250px;
}
@media screen and (orientation: landscape) {
  /* Aplica estilos solo cuando la pantalla está en modo horizontal */
  .posts { /* Establece el ancho máximo del div a 500px */
    max-width:500px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .post {
    max-width:300px;
    margin: 0 auto;
  }
}

.editar {
  background-image: url(https://icons.getbootstrap.com/assets/icons/pencil.svg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width:1em;
  height:1em;
  margin:0.2em;
}

.editar::-webkit-file-upload-button {
  visibility: hidden;
}

.plus{
  background-image : url(https://icons.getbootstrap.com/assets/icons/plus-lg.svg);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 5em;
  height:5em;
  margin:0.2em;
}

.link{
  text-decoration: none;
  color: black;
}
